@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@font-face {
  font-family: "barlow-regular";
  src: url(../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: "barlow-bold";
  src: url(../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: hsl(210, 46%, 95%);
}
